#preview{
  width:100%; 
  margin-top:2%; 
  margin-left: 20%; 
}
#one{
  display:inline-block;
  width:100%;
  margin-top:3% ;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding:1em;
  background:hsla(67, 95%, 95%, 1);
  border:solid 5px #44c4e7;
  
}
#map{
  /* display:inline-block; */
  position : relative;
  height:300px;
  width:700px;
  padding:1em;
  background-color:#44c4e7;
  margin-left: 5%;
  margin-bottom: 0%;
/* width:500px;height:250px;background-color: #44c4e7;margin-left: 50px;margin-bottom: 0px; */
}

#content_title{
  margin-top: 5%;
  margin-left: 10%;
}
#content{
  margin-top:2%;
  margin-left: 10%;
  width: 1047px; 
  height: 500px; 
  overflow: scroll;
}

#like_hate{
  margin-top: 3%;
  margin-left: 40%;
}

#reviewdel, #reviewli, #reviewup{
	display: inline;
   width: 50px;
  font-size: 14px;
   background-color:#6cb4ce;
   color: #fff;
   padding: 5px 0px;
   margin: 10px 0px 0px 0px;
   border-radius: 3px;
   -moz-border-radius: 5px;
}

#reviewup:hover , #reviewli:hover, #reviewdel:hover{
   background-color:#777;
}
