@import url(http://fonts.googleapis.com/css?family=Vibur);
*, *:after, *:before {
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#logout, #myPage, #msg, #adm {
   background: #ff7359; /* tomato button color */
   border: none;
   text-transform: uppercase;
   color: #eee;
   cursor: pointer;
   font-size: 13px;
   margin: 5px 0;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
   margin-right: 15px;
   margin-left: 5px;
}
#logout, #adm{
	width: 55px;
	height: 50px;
}
#adm{
	width: 50px;
	height: 50px;
}

.panel {
  max-width: 360px;
  background: rgba(255, 255, 255, 0.8);
  /* background: url("/matna/resource/images/orange_back2.jpg") no-repeat ; */
  background-size: cover;
  background-color: ffffff;
  font-family: arial;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); */
  margin: auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 230px;
  overflow: hidden;
  border-color: #55bbff;
}
.panel h4 {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 5px;
  /* color: #ff9e02; */
  color: #53asdf;
 /*  border-bottom: 1px solid #ffbe02; */
  border-bottom: 1px solid #ff7402;
}

.btn {
  /* border: 1px solid #d44f01; */
  border: 1px solid #55bbff;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin-top: 15px;
  /* background: #FE5F01; */
  background: #55bbff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  position: relative;
  overflow: hidden;
}


.formset {
  padding: 15px;
  max-width: 320px;
  margin: auto;
}

.form-group {
  border-bottom: 1px solid #55bbff;
  position: relative;
  margin-bottom: 5px;
}
.form-group:after {
  content: '';
  position: absolute;
  height: 2px;
  background: #fff;
  width: 0px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -2px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-group .form-control {
  border: none;
  height: 35px;
  position: relative;
  z-index: -2;
  padding: 5px;
  background: none;
  /* color: #FE5F01; */
  color: #55bbff;
  width: 100%;
}
.form-group .form-control:focus, .form-group .form-control:active {
  box-shadow: none;
  outline: none;
}
.form-group .form-label {
  font-weight: 300;
  /* color: #ff8801; */
  color: #55bbff;
  font-size: 14px;
  min-height: 17px;
  text-align: left;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -2;
}
.form-group.focus:after {
  opacity: 1;
  width: 100%;
  /* background: #FE5F01; */
  background: #55bbff;
}
.form-group.focus .form-label, .form-group.filled .form-label {
  top: -7px;
  font-size: 10px;
  /* color: #FE5F01; */
  color: #55bbff;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #11bbff;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop 0.3s ease-in;
  animation: rippleDrop 0.3s ease-in;
}
@-webkit-keyframes rippleDrop {
  to {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes rippleDrop {
  to {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}






/* BOX LOGIN */
.box{
	position: inherit;
	height: 250px;
	left: 0;
	z-index: 0;
	right: 0;
	width:70%;
	color:#666;
	padding:10px 0px;
	border-radius: 10px;
	background:rgba(255,255,255,1);
	border-top: 2px solid #C0C0C0;
	border-bottom: 2px solid #F00;
  margin-bottom: 10px;
  margin-left: 70px;
}
#logintoregister{
	text-align:center;
	font-size:25px;
}

#login_bt, #find, #join{
	background:#FF4747;
	border:0;
	color:#fff;
	padding:10px;
	font-size:15px;
	margin-left : 20px;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 10px;
}

.box button:active{
	background:#27ae60;
}

.box button:hover{
	background:#FF2020;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}


.group 			  { 
  position:relative; 
  margin-bottom: 15px; 
  margin-left: 20px;
}

.inputMaterial 				{
  font-size:13px;
  padding:10px 10px 10px 5px;
  display:block;
  width:270px;
  border:none;
  border-bottom:1px solid #757575;
}

.inputMaterial:focus 		{ outline:none;}

/* LABEL ======================================= */

#id,#pw 				 {
  color:#999; 
  font-size:17px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ #id, .inputMaterial:valid ~ #id 		{
  top:-10px;
  font-size:14px;
  color:#FF0000;
}
.inputMaterial:focus ~ #pw, .inputMaterial:valid ~ #pw 		{
  top:-10px;
  font-size:14px;
  color:#FF0000;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:270px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#FF0000; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}