 @import url('http://fonts.googleapis.com/css?family=Amarante');

* page structure *

#review_table {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#review_table thead,
#free_table thead,
#meeting_table thead {
  cursor: pointer;
  background: #ffdfd9;
}
#review_table thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 30px;
  cursor: default;
}

#meeting_table thead tr th,
#free_table thead tr th{
  font-weight: bold;
  padding: 10px 10px;
  padding-left: 12px;
  cursor: default;
}


#review_table thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
#free_table thead tr th span,
#meeting_table thead tr th span { 
  background-repeat: no-repeat;
  background-position: 100% 100%;
}



#review_table tbody tr,
#free_table tbody tr,
#meeting_table tbody tr { 
  color: #555;
}
#review_table tbody tr td{
  text-align: center;
  padding: 12px 10px;
}

#free_table tbody tr td,
#meeting_table tbody tr td {
  text-align: center;
  padding: 6px 5px;
}
#review_table tbody tr td.lalign,
#free_table tbody tr td.lalign,
#meeting_table tbody tr td.lalign {
  text-align: left;
}
#review_table tbody tr td a{
  font-size: 12px;
  color: #800000;
}
#free_table tbody tr td a,
#meeting_table tbody tr td a {
  font-size: 14px;
  color: #800000;
}



/*탭*/
.group::after, .tabBlock-tabs::after {
  clear: both;
  content: "";
  display: table;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.tabBlock{
  color: #222;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 100%;  /*테이블 크기*/
}
@media screen and (min-width: 700px) {
 .tabBlock {
    font-size: 100%;   /* 테이블 글씨크기*/
  }
}

.unstyledList, .tabBlock-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabBlock {
  margin: 0 0 2.5rem;
}

.tabBlock-tab {
  background-color: #fff;
  border-color:  #ffd6ce;
  border-left-style: solid;
  border-top: solid;
  border-width: 2px;
  color: #ffa291;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  float: left;
  padding: 0.625rem 1.25rem;
  position: relative;
  -webkit-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}
.tabBlock-tab:last-of-type {
  border-right-style: solid;
}
.tabBlock-tab::before, .tabBlock-tab::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  -webkit-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}
.tabBlock-tab::before {
  background-color:  #ffd6ce;
  left: -2px;
  right: -2px;
  top: -2px;
}
.tabBlock-tab::after {
  background-color: transparent;
  bottom: -2px;
  left: 0;
  right: 0;
}
@media screen and (min-width: 700px) {
  .tabBlock-tab {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.tabBlock-tab.is-active {
  position: relative;
  color:   #ff4a2b;
  z-index: 1;
}
.tabBlock-tab.is-active::before {
  background-color:   #ff4a2b;
}
.tabBlock-tab.is-active::after {
  background-color: #fff;
}

.tabBlock-content {
  background-color: #fff;
  border: 2px solid  #ffd6ce;
  padding: 1.25rem;
}

.tabBlock-pane > :last-child {
  margin-bottom: 0;
}
