@CHARSET "EUC-KR";

/* tab css코드의 시작 */

#tabs::after {
   display: block;
   content: "";
   clear: both;
}

.tab-switch {
   position: fixed;
}

.tab-switch:target+.tab-link+.tab-content {
   display: block;
}

.tab-link {
   display: inline-block;
}

.tab-content {
   box-sizing: border-box;
   float: right;
   display: none;
   width: 100%;
}

/* FANCY STYLES */
body {
   font-family: sans-serif;
   padding: 10px 50px;
}

h1 {
   text-align: center;
}

footer {
   margin-top: 20px;
   text-align: center;
}

#tabs {
   text-align: center;
   background-color: #9de0f7; /* tomato button color */
   border: 1px solid #e8f8fd; /* tomato button color */
   font-size: 0;
}

.tab-link {
   margin-left: 20px;
   margin-top: 10px;
   padding: 20px;
   text-decoration: none;
   font-size: 18px;
   color: white;
}

.tab-link:hover {
   background-color: #b9eeff;
   color: white;
}

.tab-link ~ .tab-link {
   margin-left: 0;
}

.tab-switch:target+.tab-link {
   background-color: #44d0ff;
   color: white;
}

.tab-content {
   background-color: white;
   padding: 35px;
   font-size: 13px;
}

.tab-content p {
   line-height: 1.65;
}

.tab-content ul, .tab-content ol {
   padding: 0 0 0 15px;
   margin: 0;
   line-height: 1.25;
}

.tab-content ul>li, .tab-content ol>li {
   margin: 5px 0;
}

/* tab css코드의 끝 */
#wrapper {
   width: 720px;
   margin: 0 auto;
   font-family: Verdana, sans-serif;
   color: #aaa;
}

fieldset {
	width:100%;
	text-align: center;
   border-radius: 4px;
   background: #fff;
   background: -moz-linear-gradient(#fff, #f9fdff);
   background: -o-linear-gradient(#fff, #f9fdff);
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff),
      to(#f9fdff));
   background: -webkit-linear-gradient(#fff, #f9fdff);
   padding: 20px;
   margin-right:2%;
   border-color: #44d0ff; /* tomato button color */
}

input {
   color: #373737;
   background: #fff;
   border: 2px solid #9de0f7; /* tomato button color */
   color: #aaa;
   font-size: 14px;
   line-height: 1.2em;
   margin-bottom: 18px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;

}

.tf1, input[name="addr"], input[name="addr2"] {
   padding: 8px 6px;
   height: 28px;
   width: 280px;
}

.la {
   color: #373737;
   color: #aaa;
   font-size: 14px;
}

#firsttel {
   padding: 8px 6px;
   height: 28px;
   width: 150px;
}

.tel {
   padding: 8px 6px;
   height: 28px;
   width: 50px;
}

.tf1:focus {
   background: #f5fcfe;
   text-indent: 0;
   z-index: 1;
   color: #373737;
   -webkit-transition-duration: 400ms;
   -webkit-transition-property: width, background;
   -webkit-transition-timing-function: ease;
   -moz-transition-duration: 400ms;
   -moz-transition-property: width, background;
   -moz-transition-timing-function: ease;
   -o-transition-duration: 400ms;
   -o-transition-property: width, background;
   -o-transition-timing-function: ease;
   border-color: #ccc;
   box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
   opacity: 0.6;
}

input[name="addr"]:focus {
   background: #f5fcfe;
   text-indent: 0;
   z-index: 1;
   color: #373737;
   -webkit-transition-duration: 400ms;
   -webkit-transition-property: width, background;
   -webkit-transition-timing-function: ease;
   -moz-transition-duration: 400ms;
   -moz-transition-property: width, background;
   -moz-transition-timing-function: ease;
   -o-transition-duration: 400ms;
   -o-transition-property: width, background;
   -o-transition-timing-function: ease;
   border-color: #ccc;
   box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
   opacity: 0.6;
   width: 380px;
}

#cancel, #modify, #withdrawal {
   background: #9de0f7; /* tomato button color */
   border: none;
   text-transform: uppercase;
   color: white;
   cursor: pointer;
   font-size: 20px;
   margin: 5px 0;
   padding: 5px 22px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
   margin-right: 30px;
}

.small {
   line-height: 14px;
   font-size: 12px;
   color: #999898;
   margin-bottom: 3px;
}

/* 상품리스트 조희 css 시작 */


#mypageTable {
   border: 3px solid #9de0f7; /* tomato button color */
   text-transform: uppercase;
   color:;
   cursor: pointer;
   font-size: 15px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
   margin-right: 30px;
}

.name {
   padding: 10px;
}

.button {
   background: #9de0f7; /* tomato button color */
   border: none;
   text-transform: uppercase;
   color: #eee;
   cursor: pointer;
   font-size: 20px;
   margin: 5px 0;
   padding: 5px 22px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
   margin-right: 30px;
}

#delete {
   background: #9de0f7;
   border: none;
   text-transform: uppercase;
   color: white;
   cursor: pointer;
   font-size: 20px;
   margin: 5px 0;
   padding: 5px 22px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
   margin-right: 30px;
}

.name {
   color: #373737;
   background: #fff;
   border: 1px solid #CCCCCC;
   color: #aaa;
   font-size: 23px;
   line-height: 1.2em;
   margin-bottom: 15px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   padding: 10px;
}

.val {
   color: #373737;
   background: #fff;
   border: 1px solid #CCCCCC;
   color: #aaa;
   font-size: 20px;
   line-height: 1.2em;
   margin-bottom: 15px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   padding: 10px;
}

h1 {
   color: #aaa;
}
/* 상품리스트 조희 css 끝 */

/* 상품리스트 paging css */
.page{
   margin-right:150px;
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}

.pagination li {
  display: inline;
}

.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.modal-1 li:first-child a {
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 0 0 6px;
}
.modal-1 li:last-child a {
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 6px 6px 0;
}
.modal-1 a {
  border-color: #ddd;
  color: #ff4524;
  background: #fff;

}
.modal-1 a:hover {
  background: #ffedea;
}
.modal-1 a.active, .modal-1 a:active {
  border-color: #ff4524;
  background: #ff4524;
  color: #fff;
}

#pagination{
  margin-left: 17.5%;
}

/*--------------------------------------------------------------
1.0 - BASE SITE STYLES
--------------------------------------------------------------*/
 *,*:after,*:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

 
/*--------------------------------------------------------------
2.0 - SEARCH FORM
--------------------------------------------------------------*/
 .searchform {
  background:#f4f4f4;
  background:rgba(244,244,244,.79);
  border: 1px solid #d3d3d3;
  padding: 2px 5px;
   margin: 2% 0 0 37.5%;
   margin-bottom : 3%;
  width:29em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float:left;
}

.searchform input {
   text-align:center;
   background:#fefefe;
   border: none;
   font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
   margin-right: 5px;
   padding: 10px;
   width: 28em;
   box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
   -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
   -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}
   .searchform input:focus {
      outline: none;
      box-shadow:0 0 4px #dd2100 inset;
      -moz-box-shadow:0 0 4px #dd2100 inset;
      -webkit-box-shadow:0 0 4px #dd2100 inset;
   }
   .searchform input::-webkit-input-placeholder {
     font-style: italic;
     line-height: 15px
   }

   .searchform input:-moz-placeholder {
     font-style: italic;
     line-height: 15px
   }

.searchform button {
   background: #ff7359; /* tomato button color */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
   border: none;
   float:right;
   color:#fff;
   cursor: pointer;
   font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
   padding: 10px;
   width:50px;
   box-shadow: 0 0 2px #ff4524i nset;
   -moz-box-shadow: 0 0 2px #ff4524 inset;
   -webkit-box-shadow: 0 0 2px #ff4524 inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
   .searchform button:hover {
      opacity:.9;
   } 