
* { margin: 0; padding: 0; outline: 0; border: 0; }
/* 
header, section, footer,
aside, nav, article, figure {
   display: block;
}
 */
/* basic css */

.inputfield, .intro { 
   font-family: 'Lato', sans serif;
   font-weight: 300;
   color: #5DACCA; 
   font-size: 13px; 
}

#intro,#inputfield{
   font-family: 'Lato', sans serif;
   font-weight: 200;
   color: #fe7a7a; 
   font-size: 13px; 
}

#score{
	font-family: 'Lato', sans serif;
   font-weight: bold;
   color: #5DACCA; 
   font-size: 13px; 
   
}


h2 {
  color: #777;
  font-family: 'Lato';
  font-size: 18px;
}

.intro {
  padding-bottom: 30px;
}

/*Contact Form*/
#contact-form {
   width: 100%;
  background-color: pink;
   margin: 0px auto;
  padding: 5% 2% 2% 25%;
  border-radius: 0 0 3px 3px;
   -moz-border-radius: 0 0 5px 5px;
}

/* 6월 27일 12시 34분 수정 */
input {
   border: 1px solid #CCCCCC;
}
#phone,#review_title,#addr,#recommend{
   font-size:14px;
   padding: 5px 0px 5px 10px;
   margin: 5px 0px 5px 0px;
   border-radius: 3px;
   border: 1px solid #999;
}
#phone:focus,#review_title:focus,#addr:focus,#recommend:focus{
   background:#f5fcfe;
   padding: 5px 0px 5px 10px;
   border-color:#ccc;
   box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
   opacity:0.8;
}
#addr{
   width:350px;
}
/* 6월 27일 12시 34분 수정 */


/*
#phone,#review_title,#addr,#recommend {
   display: inline;
   font-size: 14px;
   background-color:white;
   font-family: 'Lato';
   color: black;
   padding: 5px 0px 5px 10px;
   margin: 5px 0px 5px 0px;
   border-radius: 3px;
   border: 1px solid #999;
   -moz-border-radius: 5px;
}
#addr{
	width:350px;
}*/

#review_title{
	width:650px;
}

.inputfield {
  font-weight: 400;
}
/* 寃��깋李�, item援щℓ�떆 nickname placeholder �씛�깋�쑝濡쒕컮��

::-webkit-input-placeholder {
  color: #999999;
  font-weight: 300;
}
 */
#submit,#cancel,#comm_submit,#exit{
   display: inline;
   width: 50px;
  font-size: 14px;
   color: #fff;
   padding: 5px 0px;
   margin-top:3%;
   margin-bottom:2%;
   margin-left:1%;
   border-radius: 3px;
   -moz-border-radius: 5px;
}
#submit,#cancel{
   background-color:#6cb4ce;
}
#submit:hover,#cancel:HOVER {
   background-color:#56a8c7;
}

#comm_submit,#exit{
   background-color:#fe8476;
}

#comm_submit:hover,#exit:HOVER {
   background-color:#fd514d;
}


#guList,
#dongList,
select[name="menu"],
select[name="price"]{
	
  padding: .3em .5em; /* �뿬諛깆쑝濡� �넂�씠 �꽕�젙 */
  font-family: inherit;  /* �룿�듃 �긽�냽 */
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* �꽕�씠�떚釉� �솕�궡�몴 ��泥� */  
  border: 1px solid #999; 
  border-radius: 4px; /* iOS �뫁洹쇰え�꽌由� �젣嫄� */
  -webkit-appearance: none; /* �꽕�씠�떚釉� �쇅�삎 媛먯텛湲� */
  -moz-appearance: none;
  appearance: none;
}
#guList,#dongList{
	width: 130px;
}
select[name="menu"]{
	width: 230px;
}
select[name="price"]{
	width: 150px;
}


/*�씪�뵒�삤踰꾪듉*/

  .switch {
    position: relative;
    left: 20%;
    width: 150px;
    height: 35px;
    text-align: center;
    margin: -45px 20px 15px -70px;
    background: #6cb4ce;
    transition: all 0.2s ease;
    border-radius: 25px;
  }
  .switch span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
  }
  .switch span:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    margin-top: -8px;
    background: #fff;
    transition: all 0.2s ease;
  }
  #yes, #no {
    display: none;
  }
  .switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 60px;
    line-height:35px;
    transition: all 0.2s ease;
  }
  label[for=yes] {
    position: absolute;
    left: 0px;
    height: 20px;
  }
  label[for=no] {
    position: absolute;
    right: 0px;
  }
  #no:checked ~ .switch {
    background: #ff513e;
    /* background: #ec4257; */
  }
  #no:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #no:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #yes:checked ~ .switch label[for=yes] {
    color: #fff;
  }
  #no:checked ~ .switch label[for=no] {
    color: #fff;
  }


/*蹂꾩젏*/

.rating .stars {
  margin-right: 15px;
}
.rating .stars .star {
  padding: 5px 2px;
  cursor: pointer;
}

.rating .stars .star:before {
  font-family: 'FontAwesome';
  content: '\f005';
  color: #d0e8f0;
  font-size: 2em;
}
.rating .stars .star:hover:before,
.rating .stars .star.to_rate:before,
.rating .stars .star.rated:before {
  color: #f0d84a;
}
.rating .stars .star.no_to_rate:before {
  color: #d0e8f0;
}

