<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kosta.matna.domain.item.ItemVO" alias="item" />
		<typeAlias type="com.kosta.matna.domain.community.BoardVO"
			alias="board" />
		<typeAlias type="com.kosta.matna.domain.community.ReplyVO"
			alias="CommunityReply" />
		<typeAlias type="com.kosta.matna.domain.review.ReviewVO"
			alias="review" />
		<typeAlias type="com.kosta.matna.domain.review.PreviewVO"
			alias="preview" />
		<typeAlias type="com.kosta.matna.domain.review.ReviewDTO"
			alias="reviewDTO" />
		<typeAlias type="com.kosta.matna.domain.review.ReplyVO"
			alias="reply" />
		<typeAlias type="com.kosta.matna.domain.member.MemberVO"
			alias="member" />
		<typeAlias type="com.kosta.matna.domain.message.MessageVO"
			alias="message" />
		<typeAlias type="com.kosta.matna.domain.admin.AD" alias="ad" />
		<typeAlias type="com.kosta.matna.domain.recipe.RecipeVO" alias="recipe" />
	</typeAliases>
</configuration>
