<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <typeAliases>
   	<typeAlias type="com.kosta.matna.domain.item.ItemVO" alias="item"/>
   <typeAlias type="com.kosta.matna.domain.community.boardVO" alias="board"/>
   </typeAliases>
</configuration>
