<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="item">
	<!-- 아이템상세보기 -->
	<select id="detailItem" resultType="item">
		select photo, name, price, amount, regdate, content, price
		from item
		where ino=#{ino}
	</select>
	
	<!-- 아이템구매시 수량감소 -->
	<update id="updateItem">
		update item
		set amount=amount+#{num}
		where ino=#{ino}
	</update>
	
	<!-- 아이템구매시 포인트감소 -->
	<update id="updatePoint">
		update member
		set point=point+#{price}
		where no=#{no}
	</update>
	
	<!-- 아이템구매시 자기 주문목록 추가 -->
	<insert id="insertOrder">
	insert into member_order (ono, giver, taker, item, cnt, addr) values(member_order_seq.nextval, #{no}, #{no}, #{name}, #{cnt}) 
	</insert>
	
	<!-- 전체 아이템 리스트 -->
	<select id="listAll" resultType="item">
		select ino, photo, name, price
		from item
		order by ino desc
	</select>
	
	<!-- 아이템 구매전 구매자 정보확인 -->
	<select id="detailMember" resultType="com.kosta.matna.domain.member.MemberVO">
		select name, email, phone, post, addr, point, no
		from member
		where no=#{no}
	</select>
</mapper>
