<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="item">
	
	<!-- =============상품관련(관리자)=============== -->
	<!-- 아이템 등록하기 -->
	<insert id="insertItem">
		insert into item (ino, name, price, amount, content, photo, state) values (Item_seq.nextval, #{name} ,#{price}, #{amount}, #{content}, #{photo}, #{state})
	</insert>
	
	<!-- 아이템 수정하기 -->
	<update id="modifyItem">
		update item
		<choose>
			<when test="name==null">
				set amount=#{amount}
			</when>
			<otherwise>
				set name=#{name}, price=#{price}, amount=#{amount}, content=#{content}, photo=#{photo}, state=#{state}
			</otherwise>
		</choose>
		where ino=#{ino}
	</update>
	
	<!-- 아이템 제거하기 -->
	<delete id="deleteItem">
		delete from item where ino=#{ino}
	</delete>
	
	<!-- 아이템상세보기 -->
	<select id="detailItem" resultType="com.kosta.matna.domain.item.ItemVO">
		select photo, name, price, amount, regdate, content, price, ino, state
		from item
		where ino=#{ino}
	</select>
	<!-- =============상품관련(관리자)끝=============== -->	
	
	<!-- =============상품관련(회원)=============== -->	
	<!-- 아이템구매시 수량감소 -->
	<update id="updateItem">
		update item
		set amount=amount+#{num}
		where ino=#{ino}
	</update>
	
	<!-- 아이템구매시 포인트감소 -->
	<update id="updatePoint">
		update member
		set point=point+#{price}
		where no=#{no}
	</update>
	
	<!-- 아이템구매시 자기 주문목록 추가 -->
	<insert id="insertOrder">
	insert into member_order (ono, giver, taker, item, cnt, addr) 
	values(member_order_seq.nextval, #{giver}, #{taker}, #{item}, #{cnt}, #{addr}) 
	</insert>
	
	<!-- 전체,검색 아이템 리스트 -->
	<select id="listAll" resultType="com.kosta.matna.domain.item.ItemVO" parameterType="String">
		select ino, photo, name, price, amount, state
		from item
		<if test="value != null">
		where name like '%'||#{search}||'%'
		</if>
		order by ino desc
	</select>
	
	<!-- 전체,검색 아이템 리스트 페이징 -->
	<select id="listAllCnt" resultType="int" parameterType="String">
		select count(*) cnt
		from item
		<if test="value != null">
		where name like '%'||#{search}||'%'
		</if>
		order by ino desc
	</select>
	
	<!-- 검색 아이템 리스트 -->
	<select id="itemSeach" resultType="com.kosta.matna.domain.item.ItemVO" parameterType="String">
		select ino, photo, name, price, content
		from item
		<if test="value != null">
		where name like '%'||#{name}||'%'
		</if>
		order by ino desc
	</select>
	
	<!-- 아이템 구매전 구매자 정보확인 -->
	<select id="detailMember" resultType="com.kosta.matna.domain.member.MemberVO">
		select name, email, phone, post, addr, point, no
		from member
		where no=#{no}
	</select>

	<!-- 아이템 선물전 수령인 정보확인 -->
	<select id="readTaker" resultType="com.kosta.matna.domain.member.MemberVO">
		select no
		from member
		where id=#{taker}
	</select>
	<!-- =============상품관련(회원)끝=============== -->		
	
	<!-- =============주문관련=============== -->
	
	<!-- 특정 주문제거(관리자) -->
	<delete id="deleteOrder">
		delete from member_order where ono=#{ono}
	</delete>
	
	<!-- 특정 주문 배송상태 변경(관리자) -->
	<update id="updateOrderState">
		<choose>
			<when test=" state == 0">
			update member_order set state=1 where ono=#{ono}
			</when>
			<otherwise>
			update member_order set state=0 where ono=#{ono}
			</otherwise>
		</choose>
	</update>
	
	<!-- 특정 수령인,구매자 검색 주문리스트 출력 -->
	<select id="orderSearchList" resultType="com.kosta.matna.domain.member.Member_orderVO">
		select ono, giver, taker,(select id from member where no=giver) giverid, (select id from member where no=taker) takerid, (select name from item where ino=item) itemname, item, cnt, orderDate, state, addr
		from member_order
		<if test="search != null and id !=null">
			<choose>
				<when test="id=='buyer'">
				where giver 
				</when>
				<when test="id=='receiver'">
				where taker 
				</when>
			</choose>
			in (select no from member where id like '%'||#{search}||'%')
		</if>
		order by ono desc 
	</select>
	
	<!-- 검색한 주문 페이징을 위한 숫자 확인 -->
	<select id="orderListCount" resultType="int">
		select count(*) cnt 
		from member_order
		<if test="search != null and id !=null">
			<choose>
				<when test="id=='buyer'">
				where giver 
				</when>
				<when test="id=='receiver'">
				where taker 
				</when>
			</choose>
			in (select no from member where id like '%'||#{search}||'%')
		</if>
	</select>
	
</mapper>
