<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<!-- Insert -->
	<insert id="insert">
	<![CDATA[
		insert into review (no,title,content,writer,photo)
		values (review_seq.nextval,#{title},#{content},#{writer},#{photo})
	]]>
	</insert>
	
	<update id="update">
	<![CDATA[
		update review set title=#{title}, content=#{content}, photo=#{photo}, regdate = sysdate
		where no = #{no}
	]]>
	</update>
	
	<update id="viewCntUp">
	<![CDATA[
		update review set viewCnt = viewCnt+1 
		where no=#{no}
	]]>
	</update>
	
	<update id="replyCntUp">
	<![CDATA[
		update review set replyCnt = replyCnt+1 
		where no=#{no}
	]]>
	</update>
	
	<delete id="delete">
		delete from review
		where no=#{no}
	</delete>
	
	<select id="totalCount" resultType="int">
		select count(*) 
		from review natural join preview
		where menu=#{tabType}
	</select>
	
	<select id="selectOne" resultType="review">
		select no,title,content,writer,(select grade from member where no=writer) mGrade,
		(select nickName from member where no=writer) nickName,regdate,replyCnt,viewCnt,good,bad,photo 
		from review where no=#{no}
	</select>
	
	<select id="selectList" resultType="review">
		select no,substr(title,1,6) title,writer,(select nickName from member where no=writer) nickName,
		(select grade from member where no=writer) mGrade, replycnt,photo,viewcnt
		<if test="listType == null">
		,regdate,good,bad
		</if>
		from review natural join preview
		where menu=#{tabType}
		<choose>
			<when test="pageType=='review'">
				order by no desc
			</when>
			<when test="pageType=='ranking'">
				and regdate >= sysdate-7
				order by good desc
			</when>
		</choose>
	</select>
	
	<select id="guList" resultType="String">
		select distinct(gu) from matnaAddr
		order by gu
	</select>
	
	<select id="dongList" resultType="String">
		select dong from matnaAddr
		where gu = #{gu}
		order by dong
	</select>
	
	<select id="getGBNo" resultType="int">
		select 
		<if test="gbType=='good'">
		good
		</if>
		<if test="gbType=='bad'">
		bad
		</if>
		from review
		where no = #{rNo}
	</select>
	
	<select id="gbCheck" resultType="int">
		select userNo from gbCheck
		where rNo = #{rNo}
	</select>
	
	<insert id="gbInsert">
		insert into gbCheck 
		values(#{rNo},#{userNo},#{gbType}) 
	</insert>
	
	<update id="gbUpdate">
		update review set
		<if test="gbType=='good'">
			good=good+1
		</if>
		<if test="gbType=='bad'">
			bad=bad+1
		</if>
		where no=#{rNo}
	</update>
</mapper>
