@CHARSET "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  //color:#FFF;
  background:url('http://subtlepatterns.com/patterns/gplaypattern.png');
}
h3 {
  font-size:0.9em;
  font-weight:900;
  color:#FFF;
}

#content {
  width: 100%;
  height: 100%;
  max-width:1025px;
  padding:15px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.recipe {
  background:#f1f1f1;
  max-width:300px;
  height:300px;
  position:relative;
  display:inline-block;
  overflow:hidden;
  cursor: pointer;
  margin:0 10px 10px 0;
  -webkit-border-radius:0 0 7px 7px;
  border-radius:0 0 7px 7px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.image {
  height:230px;
  overflow:hidden;
  position:relative;
}
.image img{
  width:100%;
  transition: all 1s ease;
  /* margin-top:-70px; */
}
.image:hover img{
  transform: scale(1.2) ;
  -ms-transform: scale(1.2) ; /* IE 9 */
  -webkit-transform: scale(1.2) ; /* Safari and Chrome */
}
.fa-heart-o:hover {
  animation-name: pulse; 
  animation-duration: 0.5s; 
  animation-iteration-count: infinite; 
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: infinite; 
}
.likes {
  width:45px;
  height:35px;
  background:#EC4678;
  opacity: 0.85;
  filter: alpha(opacity=85); /* IE8 and lower */
  zoom: 1; /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
  font-size:1em;
  color:white;
  text-align: center;
  vertical-align: middle;
  line-height: 35px; 
  position:absolute;
  left:0;
  top:20px;
  -webkit-border-radius:0 5px 5px 0px;
  border-radius:0 5px 5px 0px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  text-shadow: 1px 1px 2px rgba(214, 22, 80, 1);
  border-left:5px dotted #D61650;
}
.name {
  width:100%;
  height:50px;
  background:#4ABFB4;
  opacity: 0.85;
  filter: alpha(opacity=85); /* IE8 and Lower */
  zoom: 1; /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
  overflow:hidden;
  position:absolute;
  bottom:0;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; 
  text-shadow: 1px 1px 2px rgba(51, 145, 135, 1);
  border-bottom:1px dotted #339187;
}
.media {
  width:100%;
  font-size:1em;
  color:#777;
  padding:15px;
  text-align: center;
  vertical-align: top;
  line-height: 20px;
}
.media li {
  display:inline-block;
  padding:0 7px;
}
footer {
  font-size:0.7em;
  color: #339187;
  margin:15px 0 0 0;
}
/* a:link, a:visited {color: #339187; text-decoration:none;font-weight:700;}
a:hover {color: #D61650;text-decoration:none;}
a:active {text-decoration:underline;} */

/* Pulse Animation for Firefox, Opera and Internet Explorer 10 */
@keyframes pulse {
  from {
    transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    transform: scale(1.0);
    opacity: 1.0;
  }
}
/* Pulse Animation for Google Chrome and Safari */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}