<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recipe">
	<!-- Insert -->
	<insert id="insert">
	<![CDATA[
		insert into recipe (no,title,content,writer,photo)
		values (recipe_seq.nextval,#{title},#{content},#{writer},#{photo})
	]]>
	</insert>
	
	<update id="update">
	<![CDATA[
		update recipe set title=#{title}, content=#{content}, photo=#{photo}, regdate = sysdate
		where no = #{no}
	]]>
	</update>
	
	<update id="viewCntUp">
	<![CDATA[
		update recipe set viewCnt = viewCnt+1 
		where no=#{no}
	]]>
	</update>
	
	<update id="replyCntUp">
	<![CDATA[
		update recipe set replyCnt = replyCnt+1 
		where no=#{no}
	]]>
	</update>
	
	<update id="likesUp">
	<![CDATA[
		update recipe set likes = (select count(*) from recipeLikes where no=#{no}) 
		where no=#{no}
	]]>
	</update>
	
	<insert id="addLikes">
		insert into recipeLikes values(#{no},#{userNo})
	</insert>
	
	<delete id="removeLikes">
		delete from recipeLikes 
		where no=#{no} and userNo=#{userNo}
	</delete>
	
	<delete id="removeAllLikes">
		delete from recipeLikes 
		where no=#{no}
	</delete>
	
	<select id="findLikes" resultType="int">
		select count(*) from recipeLikes
		where no=#{no} and userNo=#{userNo}
	</select>
	
	<select id="getLikeRecipies" resultType="int">
		select no from recipeLikes
		where userNo = #{userNo}
	</select>
	
	<delete id="delete">
		delete from recipe
		where no=#{no}
	</delete>
	
	<select id="totalCount" resultType="int">
		select count(*) 
		from recipe
	</select>
	
	<select id="selectOne" resultType="recipe">
		select no,title,content,writer,(select nickName from member where no=writer) nickName,
			regdate,replyCnt,viewCnt,photo , likes, ingredient,price,time,difficulty,per,foodName
		from recipe natural join precipe 
		where no=#{no}
	</select>
	
	<select id="selectList" resultType="recipe">
		select no,photo, time, per, price, likes,foodName
		from recipe natural join precipe
		<choose>
			<when test="pageType=='recipe'">
				order by no desc
			</when>
			<when test="pageType=='ranking'">
				where regdate >= sysdate-7
				order by likes desc
			</when>
			<when test="pageType=='myRecipe'">
				where no in((select no from recipeLikes where userNo=#{userNo}) )
				order by no desc
			</when>
		</choose>
	</select>
</mapper>
